<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
	<center>
		<h1> Assignment 4 - Movie </h1><br><br>
		<h2> Anirudh - Bandana - Pallavi - Shivang </h2><br><br>
    	{% block body %}{% endblock %}
    </center>
</body>
</html>