{% extends 'base.html' %}

{% block title %}
R
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
	<h3>READ</h3>
	<form action="/output" method="post">
		<table>
			<tr>
				<td>userId</td>
				<td><input type="text" name="userId"></td>
			</tr>
			<tr>
				<td>movieId</td>
				<td><input type="text" name="movieId"></td>
			</tr>
			<tr>
				<td>rating</td>
				<td><input type="text" name="rating"></td>
			</tr>
			<tr>
				<td>timestamp</td>
				<td><input type="text" name="timestamp"></td>
			</tr>
		</table>
		<input type="hidden" name="type" value="search">
		<br><br>
		<button>Query on DB</button>
	</form>
{% endblock %}